@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
.i1{
	
}

input.em {
    width: 238px;
    height: 35px;
    padding-left: 10px;
}
input.pass{
    width: 238px;
    height: 35px;
    padding-left: 10px;
}